---
const { bgUrl } = Astro.props;
---

<div
  style=`background-image: url(${bgUrl});`
  class="border-2 m-5 p-10 border-solid border-black flex justify-center flex-col w-[350px]">
  <slot />
</div>
